body{
    text-align: center;
    background-color:lightskyblue;
}


.btn{
    height: 100px;;
    width: 100px;
    border: 5px solid black;
    margin: 10px;
    border-radius: 10px;
}

#box1,#box2{
    display: flex;
     justify-content: center;

}

.green{
    background-color: green;

}
.yellow{
   background-color: yellow;
}
.blue{
    background-color:blue;

}
.red{
    background-color: red;

}

.gameflash{
    background-color: white;
}
.userflash{
    background-color: black;
}

#btn11{
    height: 50px;
    width: 100px;
    background-color: green;
    border: 2px solid black;
    border-radius: 5px;
    font-size: large;
}